<!DOCTYPE html>
<html>
<head>
  <title>Prep test gem</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "prep/test/gem/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
